{% extends "base.html" %}
{% block content %}
<h1>Profil for {{ user.username }}</h1>

<!-- Display Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST" class="mt-4">
    <div class="mb-3">
        <label for="new_password" class="form-label">Ny Adgangskode (lad den være tom, hvis du ikke vil ændre):</label>
        <input type="password" class="form-control" id="new_password" name="new_password">
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="dark_mode" name="dark_mode" {% if user.dark_mode %}checked{% endif %}>
        <label class="form-check-label" for="dark_mode">Dark Mode</label>
    </div>

    <button type="submit" class="btn btn-primary">Opdater Profil</button>
</form>
{% endblock %}
